@model HNSHOP.Dtos.Request.ForgotPasswordReqDto

@{
    ViewData["Title"] = "Quên Quên Mật Khẩu";
}
<link href="~/css/auth.css" rel="stylesheet">

<div class="register-container mt-5 mb-5">
    <h2 class="text-center">QUÊN MẬT KHẨU</h2>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }

    <form asp-action="ForgotPassword" method="post" class="register-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="input-group">
            <span class="input-icon"><i class="fa fa-envelope"></i></span>
            <input asp-for="Email" type="email" class="form-control" placeholder="Nhập email tài khoản" required />
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">Gửi mã xác nhận</button>
    </form>

    <p class="text-center mt-2">
        <a asp-action="Login">Quay lại đăng nhập</a>
    </p>
</div>
